# {{ ansible_managed }}
#
# <file system>	<dir>		<type>	<options>			<dump>	<pass>
/dev/mmcblk0p1	/boot		vfat	defaults,rw,relatime,auto	0	2
LABEL=USB-Box	/mnt/storage	hfsplus	defaults,rw,relatime,noauto	0	0
