#
# /etc/hosts: static lookup table for host names
#
# {{ ansible_managed }}

#<ip-address>	<hostname.domain.org>		<hostname>
127.0.0.1	{{ ansible_hostname }}.rossmanns.org	{{ ansible_hostname}}
::1		{{ ansible_hostname }}.rossmanns.org	{{ ansible_hostname}}
127.0.0.1	localhost.local		localhost
::1		localhost.local		localhost
127.0.0.1	{{ ansible_hostname }}.local	{{ ansible_hostname }}
::1		{{ ansible_hostname }}.local	{{ ansible_hostname}}
